/* Custom CSS for Audio Player */
 
@media (min-width: 512px) {
  .container {
    max-width: 512px;
    margin: 0 auto;
  }
}

audio {
    width: 100%;
}

.playlist-item.active {
    color: rgb(255,0,0);
}
